<nav class="navigation" role="navigation">
  <ul class="nav-1">
    <li><a href="/users">Main</a></li>
    <% if (user) { %>
    <li><a href="/chat">Chat</a></li>
    <% } %>
  </ul>
  <ul class="nav-2">
    <% if (user) { %>
    <li><a><%- user.username %></a></li>
    <li><a href="" onclick="$('<form method=POST action=/logout></form>').submit();return false">Log out</a></li>
    <% } else { %>
    <li><a href="/login">Log in</a></li>
    <% } %>
  </ul>

  <div class="clearfix"></div>
</nav>