<% layout('./layout/page') -%>
<% block('title', "Чат") -%>

<script src="vendor/bower_components/socket.io-client/socket.io.js"></script>

<div id="room">
   <form>
    <input class="form-control" autocomplete="off" autofocus placeholder="Сообщение...">
  </form>
  <ul class="dialog">
    <% for(var i = 0; i < messages.length; i ++) {%>
       <li <% if (messages[i].username == user.username) {%> class="my-message" <% } %> >

        <% if (messages[i].username != user.username) { %> <%= messages[i].username + " > " %> <% } %> 
        <%= messages[i].text %></li>
    <% } %>
  </ul>
</div>

<script>
  var socket = io.connect();

  var form = $('#room form');
  var ul = $('#room ul');

  form.submit(function() {
    var input = $(this).find('input');
    var text = input.val();
    input.val('');

    socket.emit('message', text, function(data) { 
      // in this case this function is used only to know if data is sent to server
      $('<li>', {text: text, class: 'my-message'}).appendTo(ul);
    });

    return false;
  });

  socket.on('message', function(username, text) {
    $('<li>', {text: username + " > " + text}).appendTo(ul);
  });

</script>