<% layout('./layout/page') -%>
<% block('title', "Log in") -%>

<p>Please enter your name and password</p>

<form class="form-horizontal login-form" action="/auth/login" method="POST" name="login-form">
  <div class="form-group">
    <label for="input-username" class="col-lg-2 control-label">Name</label>

    <div class="col-lg-10">
      <input name="username" value="" type="text" class="form-control" id="input-username" placeholder="Имя">
    </div>
  </div>
  <div class="form-group">
    <label for="input-password" class="col-lg-2 control-label">Password</label>

    <div class="col-lg-10">
      <input name="password" value="" type="password" class="form-control" id="input-password" placeholder="Пароль">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Sign in</button>
  <a href="/register">Register</a>
</form>

<script src="/scripts/login.js"> </script>