<% layout('./layout/page') -%>
<% block('title', "Register new user") -%>

<div ng-app="app">
    <navigation></navigation>

  	<div ng-view></div>
  	
	<script src="/scripts/register.js"></script>
</div>